.App{
  margin: 50px auto;
  text-align: center;
  
  border: 2px solid gray; 


  width: 800px;
  height: 700px;
  padding: 10px;
  border: 1px solid gray;
  margin: 1;
  margin-top: auto;
  display:flex;
  justify-content: center;
  
}

.img-text-block{
  position: relative;
  width: 100%;
}
.text-top{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px !important;
  font-weight: 600 !important;
}

.text-bottom{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px !important;
  font-weight: 600 !important;
}

.color-box{
  width: 40px;
  height: 40px;
  border: 1px solid black;
}